<html>
<head>
  <meta charset='utf-8'>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
  <script src="angular-locale_de.js"></script>
  <script src="app.js"></script>
</script>
</head>
<body ng-app="MyApp">
  <!-- 1. Simple Expression -->
  <!-- <p>This is your first angular expression: {{ 1 + 2 }}</p> -->

  <!-- 2. Binding a Text Input to an Expression -->
  <!-- Enter your name: <input type="text" ng-model="name"></input>
  <p>Hello {{name}}!</p>
  <p>Hello {{name | uppercase }}!</p> -->

  <!-- 3. Responding to Click Events using Controllers -->
  <!-- <div ng-controller="MyCtrl">
    <button ng-click="toggle()">Toggle</button>
    <p ng-show="visible">Hello World!</p>
  </div> -->


  <!-- 4. Creating Custom HTML Elements with Directives -->
  <!-- <div>
   <label for="checkbox">
     <input id="checkbox" type="checkbox" ng-model="visible">Toggle me
   </label>
   <div show="visible">
     <p>Hello World</p>
   </div>
 </div> -->

 <!-- 5. Assigning a Default Value to a Model -->
  <!-- <div ng-controller="MyCtrl">
   <p>{{value}}</p>
 </div> -->

 <!-- 6. Changing a Model Value with a Controller Function -->
  <!-- <div ng-controller="MyCtrl">
   <p ng-init="incrementValue(1)">{{value}}</p>
 </div> -->

 <!-- 7. Encapsulating a Model Value with a Controller Function -->
  <!-- <div ng-controller="MyCtrl">
   <p>{{getIncrementedValue()}}</p>
 </div> -->

 <!-- 8. Responding to Scope Changes -->
  <!-- <div ng-controller="MyCtrl">
   <input type="text" ng-model="name" placeholder="Enter your name">
   <p>{{greeting}}</p>
 </div> -->

 <!-- 9. Sharing Models Between Nested Controllers -->
  <!-- <div ng-controller="MyCtrl">
   <label>Primitive</label>
   <input type="text" ng-model="name">

   <label>Object</label>
   <input type="text" ng-model="user.name">

   <div class="nested" ng-controller="MyNestedCtrl">
     <label>Primitive</label>
     <input type="text" ng-model="name">
     <label>Primitive with explicit $parent reference</label>
     <input type="text" ng-model="$parent.name">

     <label>Object</label>
     <input type="text" ng-model="user.name">
   </div>
 </div> -->

 <!-- 10. Sharing Code Between Controllers using Services -->
 <!-- <div ng-controller="MyCtrl">
   <ul ng-repeat="user in users">
     <li>{{user}}</li>
   </ul>
   <div class="nested" ng-controller="AnotherCtrl">
     First user: {{firstUser}}
   </div>
 </div> -->

 <!-- 11. Enabling/Disabling DOM Elements Conditionally -->
 <!-- <label><input type="checkbox" ng-model="checked"/>Toggle Button</label>
 <button ng-disabled="checked">Press me</button> -->

 <!-- 12. Changing the DOM in Response to User Actions -->

 <!-- 19. Repeatedly Rendering Directive’s DOM Node Children -->
 <!-- <repeat-ntimes repeat="10">
   <h1>Header 1</h1>
   <p>This is the paragraph.</p>
 </repeat-n-times> -->

 <!-- 20. Directive-to-Directive Communication -->
 <!-- <basket apple orange>Roll over me and check the console!</basket> -->


 <!-- 21. Formatting a String With a Currency Filter Problem -->
 <!-- <input type="text" ng-model="amount" placeholder="Enter amount"/>
 <p>Default Currency: {{ amount | currency }}</p>
 <p>Custom Currency: {{ amount | currency: "Euro" }}</p> -->

 <!-- 22. Implementing a Custom Filter to Reverse an Input String -->
 <!-- <input type="text" ng-model="text" placeholder="Enter text"/>
 <p>Input: {{ text }}</p>
 <p>Filtered input: {{ text | reverse }}</p> -->

 <!-- 23. Passing Configuration Params to Filters -->
 <!-- <input type="text" ng-model="text" placeholder="Enter text"/>
 <p>Input: {{ text }}</p>
 <p>Filtered input: {{ text | reverse: { suffix: "!"} }}</p> -->

 <!-- 24. Filtering a List of DOM Nodes -->
  <!-- <ul ng-init="names = ['Peter', 'Anton', 'John']">
  <li ng-repeat="name in names | exclude:'Peter' ">
    <span>{{name}}</span>
  </li>
  </ul> -->

 <!-- 25. Chaining Filters together -->
 <ul ng-init="names = ['Peter', 'Anton', 'John','a','d','x']">
  <li ng-repeat="name in names | exclude:'Peter' | sortAscending ">
   <span>{{name}}</span>
  </li>
 </ul>






</body>
</html>